.icon-escpd-logo {
	background-image: url('png/escpd-logo.png');
	background-repeat: no-repeat;
}
.icon-icon-escpd {
	background-image: url('png/icon-escpd.png');
	background-repeat: no-repeat;
}
.icon-nav-icon-dirt {
	background-image: url('png/nav-icon-dirt.png');
	background-repeat: no-repeat;
}
.icon-nav-icon-rock {
	background-image: url('png/nav-icon-rock.png');
	background-repeat: no-repeat;
}
.icon-nav-icon-snow {
	background-image: url('png/nav-icon-snow.png');
	background-repeat: no-repeat;
}
.icon-nav-icon-urban {
	background-image: url('png/nav-icon-urban.png');
	background-repeat: no-repeat;
}
.icon-nav-icon-water {
	background-image: url('png/nav-icon-water.png');
	background-repeat: no-repeat;
}
